<p-dialog [header]="isEditMode ? 'Редактирование виртуального испытания' : 'Добавление виртуального испытания'"
          [style]="{width: '90vw', height: '90vh'}"
          [(visible)]="visible" [modal]="true" [resizable]="false" [closable]="true" (onHide)="onHide()">
  <div class="dialog-content">
    <form #form="ngForm" [class.content-disabled]="loading">
      <div class="form-row">
        <label class="required">Шаблон:</label>
        <p-dropdown name="type" [options]="standEndpointTypes" [(ngModel)]="virtualEndpoint.standEndpointType"
                    optionLabel="name" appendTo="body"
                    [style]="{width: '100%', display: 'inline-flex'}"
                    [showClear]="true"
                    [disabled]="virtualEndpoint?.id != null"
                    (onChange)="setInputVariables(); rerenderEditor()"
                    placeholder="Выберите тип испытания">
        </p-dropdown>
      </div>

      <div class="form-row">
        <label class="required">Наименование:</label>
        <input maxlength="50" name="name" pInputText
               [(ngModel)]="virtualEndpoint.name" placeholder="Введите наименование" required>
      </div>

      <div class="form-row">
        <label class="required">Описание:</label>
        <input maxlength="50" name="description" pInputText
               [(ngModel)]="virtualEndpoint.description" placeholder="Введите описание" required>
      </div>

      <div class="form-row">
        <label>Список параметров:</label>
        <input maxlength="50" name="variables" pInputText
               [value]="inputVariablesAsString" disabled>
      </div>
    </form>

    <div class="code-editor-wrapper" [class.content-disabled]="!virtualEndpoint?.standEndpointType">
      <app-code-editor *ngIf="isCodeEditor" style="flex: auto" [(code)]="jsCode"></app-code-editor>
      <div *ngIf="isEvalMode" class="variables-panel">
        <app-eval-input-form [disabled]="virtualEndpoint?.id != null"
                             [code]="jsCode ?? ''"
                             [inputVariables]="inputVariables"
                             (onClose)="rerenderEditor()"
        (meta)="onMetaChange($event)" (inOutChange)="isOut = $event; setInputVariables()">
        </app-eval-input-form>
      </div>
    </div>
  </div>

  <p-footer [class.content-disabled]="loading">
    <p-button [label]="loading ? 'Подождите...' : 'Сохранить'"
              [disabled]="!!form.invalid || !jsCode || jsCode.length === 0"
              (click)="save()"></p-button>
    <p-button label="Отмена" styleClass="button-clear bordered" (click)="onHide()"></p-button>
  </p-footer>
</p-dialog>
