.detail-content {
  display: inline-flex;
  width: 100%;
  gap: 10px;
  max-height: 460px;
}

.detail-content > :nth-child(1) {
  flex: 1;
}

.detail-wrapper {
  width: 100%;
  overflow: auto;
}

.detail-wrapper > :nth-child(1) {
  width: 100%;
  display: inline-flex;
  height: 100%;
}
