<p-table #table [value]="studyGroups" [scrollable]="true" scrollHeight="flex" sortMode="multiple"
         [loading]="loading"
         [selectionMode]="'single'"
         [(selection)]="selected"
         [globalFilterFields]="columnFields"
         (onFilter)="selected=undefined"
         [resizableColumns]="true"
         [columns]="columns"
         [reorderableColumns]="true"
         [virtualScroll]="true"
         [virtualScrollItemSize]="55"
         [expandedRowKeys]="expandedRows"
         (onRowExpand)="onRowExpand($event)"
         (onRowCollapse)="onRowCollapse($event)"
         styleClass="p-datatable-gridlines"
         dataKey="id">
  <!--TABLE TOOLBAR-->
  <ng-template pTemplate="caption">
    <div class="table-toolbar">
      <div class="table-toolbar-left">
        <p-button pTooltip="Обновить таблицу" icon="pi pi-sync" (click)="getStudyGroupsFromApi()"
                  styleClass="button-primary"></p-button>
        <p-button pTooltip="Показать / Скрыть фильтры" icon="pi pi-filter" (click)="filter=!filter"
                  styleClass="button-primary"></p-button>

        <div class="splitter"></div>

        <p-button pTooltip="Добавить учебную группу" icon="pi pi-plus" severity="success"
                  (click)="createStudyGroup()">
        </p-button>

        <p-button pTooltip="Редактировать выбранную учебную группу" icon="pi pi-pencil"
                  styleClass="button-primary" [disabled]="!selected" (click)="editStudyGroup()">
        </p-button>

        <p-button *ngIf="$any(selected)?.archived; else archiveButton"
                  pTooltip="Восстановить учебную группу" icon="pi pi-undo" severity="warning"
                  [disabled]="!selected" (click)="unarchive()">
        </p-button>
        <ng-template #archiveButton>
          <p-button pTooltip="Архивировать учебную группу" icon="pi pi-trash" severity="danger"
                    [disabled]="!selected" (click)="confirmArchive($event)">
          </p-button>
        </ng-template>

        <div class="splitter"></div>

        <p-button pTooltip="Печать" icon="pi pi-print" (click)="menu.toggle($event)" severity="success"></p-button>
      </div>

      <div class="table-toolbar-right">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input #globalSearch pInputText type="text" placeholder="Быстрый поиск"
                   (input)="table.filterGlobal(globalSearch.value, 'contains')"/>
        </span>
      </div>
    </div>
  </ng-template>

  <!--TABLE COLUMNS-->
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem"></th>
      <ng-container *ngFor="let col of columns">
        <th [style]="{width: col.width+'%'}" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </ng-container>
    </tr>
    <!--TABLE FILTER-->
    <tr *ngIf="filter">
      <th *ngFor="let col of columns">
        <app-column-filter-wrapper [column]="col"></app-column-filter-wrapper>
      </th>
    </tr>
  </ng-template>

  <!--TABLE DATA-->
  <ng-template pTemplate="body" let-row let-expanded="expanded">
    <tr [pSelectableRow]="row">
      <td style="position: relative">
        <p-button type="button" [pRowToggler]="row" [text]="true"
                  [rounded]="true" [plain]="true" styleClass="no-bordered table-expand-button"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
      </td>
      <ng-container *ngFor="let col of columns">
        @switch (col.type) {
          @case ("boolean") {
            <td style="text-align: center">
              <p-checkbox [binary]="true" [readonly]="true" [style]="{pointerEvents: 'none'}"
                          [(ngModel)]="row[col.fieldGetter ?? col.field]">
              </p-checkbox>
            </td>
          }
          @case ("date") {
            <td style="text-align: center">{{ getField(row, col) }}</td>
          }
          @default {
            <td [class.cell-center]="col.field == 'id'">{{ getField(row, col) }}</td>
          }
        }
      </ng-container>
    </tr>
  </ng-template>

  <!--ROW EXPANDED-->
  <ng-template pTemplate="rowexpansion" let-row>
    <tr>
      <td colspan="99" style="background: var(--primary-deep-alfa-color)">
        <div class="detail-content">
          <p-splitter [style]="{ height: '100%'}" [panelSizes]="[50, 50]" [minSizes]="[30, 30]" [gutterSize]="8">
            <ng-template pTemplate>
              <div class="detail-wrapper">
                <app-course-list [studyGroup]="row" [allCourses]="allCourses" [allTutors]="allTutors" (result)="onRowChanged($event)"></app-course-list>
              </div>
            </ng-template>
            <ng-template pTemplate>
              <div class="detail-wrapper">
                <app-student-list [studyGroup]="row" [allStudents]="allStudents" (result)="onRowChanged($event)"></app-student-list>
              </div>
            </ng-template>
          </p-splitter>
        </div>
      </td>
    </tr>
  </ng-template>

  <!--TABLE SUMMARY-->
  <ng-template pTemplate="summary">
    <div class="table-toolbar">
      <div class="table-toolbar-left">
        Всего записей: {{ studyGroups.length }}
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="99">Ничего не найдено</td>
    </tr>
  </ng-template>
</p-table>

<app-study-group-registration-form *ngIf="!!studyGroupFormData"
                                   [studyGroupId]="studyGroupFormData.studyGroupId"
                                   (result)="onStudyGroupFormResult($event)">
</app-study-group-registration-form>

<p-menu #menu [model]="(ExportTable.exportMenu | async)!" [popup]="true"
        (onShow)="ExportTable.showMenu(table, columns, studyGroups)"
        appendTo="body">
</p-menu>
