.content {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
}

.lesson-list-wrapper {
  flex: auto;
  overflow: auto;
}

.lesson-wrapper {
  display: flex;
  flex-direction: column;
}

.lesson-controls {
  display: inline-flex;
  gap: 10px;
  justify-content: end;
  width: 100%;
  align-items:center;
}

.lesson-wrapper {
  display: inline-flex;
  gap: 5px;
  align-items: center
}
