<p-tabView [scrollable]="true">
  <p-tabPanel header="Карточка обучаемого" leftIcon="pi pi-graduation-cap">
    <div>Общий дашбоард какой-то, статистика</div>
  </p-tabPanel>
  <p-tabPanel header="Видеоуроки" leftIcon="pi pi-video">
    <app-video-lessons></app-video-lessons>
  </p-tabPanel>
  <p-tabPanel header="Презентации" leftIcon="pi pi-book">
  </p-tabPanel>
  <p-tabPanel header="Онлайн лекции" leftIcon="pi pi-play-circle">
    <div>Возможно айфрейм с зумом</div>
  </p-tabPanel>
  <p-tabPanel header="Тесты" leftIcon="pi pi-verified">
    <div>Тесты</div>
  </p-tabPanel>
</p-tabView>
