.header {
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 0;
}
#logo {
  height: 50px;
  margin-right: 5px;
}
#logo:hover {
  transform: scale(1.1);
}

a {
  cursor: pointer;
}

.group {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.alert-wrapper {
  width: 32px;
  height: 46px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.badge-wrapper {
  margin-left: 5px;
}

.badge-wrapper >>> .p-badge {
  font-size: 0.5rem;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
}

.ring {
  animation: ring 4s .7s ease-in-out infinite;
  transform-origin: 50% 2px;
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}
