<div class="header">
  <a [routerLink]="logoRouterLink">
    <img id="logo" src="/assets/images/logo.png" pTooltip="На главную" alt="ProLegacy">
  </a>

  <ng-container *ngIf="userService.user">
    <div class="group" style="width: 100%">
      <ng-container *ngIf="!isMobileMode">
        <p-button *ngIf="userService.user.studentId != null" label="Кабинет ученика" styleClass="button-clear"
                  routerLink="student-cabinet"></p-button>
        <p-button *ngIf="userService.user.tutorId != null" label="Кабинет преподавателя" styleClass="button-clear"
                  routerLink="tutor-cabinet"></p-button>
        <p-button label="Тестирование" styleClass="button-clear" routerLink="survey"></p-button>
        <p-button label="ФИДБЕКИ" styleClass="button-clear" routerLink="images" (click)="op.hide()"></p-button>
        <p-button *ngIf="userService.hasRole('ROLE_admin')" label="Панель управления"
                  styleClass="button-clear" routerLink="admin-panel"></p-button>
        <p-button label="Чаты" styleClass="button-clear" routerLink="chat"></p-button>
      </ng-container>
    </div>

    <span style="margin-right: 10px; flex: none" [pTooltip]="userRolesString">{{ userName }}</span>
    <div class="group">
      <p-button *ngIf="isMobileMode; else right"
                [icon]="op.overlayVisible ? 'pi pi-times' : 'pi pi-bars'"
                (click)="op.toggle($event)"
                styleClass="button-clear bordered"></p-button>

      <ng-template #right>
        <div class="alert-wrapper" (click)="isAlertPanel = !isAlertPanel">
          <div>
            <i class="pi pi-bell text-primary" [class.ring]="!!alertsCount" pTooltip="Уведомления" tooltipPosition="bottom"></i>
            <span class="badge-wrapper" pBadge [value]="alertsCount" [badgeDisabled]="!alertsCount"></span>
          </div>
        </div>

        <p-button icon="pi pi-user" pTooltip="Настройка аккаунта" tooltipPosition="bottom"
                  routerLink="user-panel" styleClass="button-clear bordered"></p-button>
        <p-button icon="pi pi-sign-out" label="Выйти" (click)="logout()" styleClass="button-filled"></p-button>
      </ng-template>
    </div>
  </ng-container>
</div>

<p-overlayPanel #op>
  <div style="display: flex; flex-direction: column; gap: 5px" class="p-fluid">
    <p-button label="Кабинет ученика" styleClass="button-clear" routerLink="student-cabinet"
              (click)="op.hide()"></p-button>
    <p-button label="Кабинет преподавателя" styleClass="button-clear" routerLink="tutor-cabinet"
              (click)="op.hide()"></p-button>
    <p-button label="Тестирование" styleClass="button-clear" routerLink="survey" (click)="op.hide()"></p-button>
    <p-button label="ФИДБЕКИ" styleClass="button-clear" routerLink="images" (click)="op.hide()"></p-button>
    <p-button *ngIf="userService.hasRole('ROLE_admin')" label="Панель управления"
              styleClass="button-clear" routerLink="admin-panel" (click)="op.hide()">
    </p-button>
    <p-button icon="pi pi-user" label="Настройка аккаунта"
              routerLink="user-panel" styleClass="button-clear" (click)="op.hide()">
    </p-button>
    <p-button icon="pi pi-sign-out" label="Выйти" (click)="logout(); op.hide()" styleClass="button-filled"></p-button>
  </div>
</p-overlayPanel>

<p-sidebar [(visible)]="isAlertPanel" [position]="'right'">
  <ng-template pTemplate="header">
    <h3>Ваши уведомления</h3>
  </ng-template>
  <div *ngFor="let alert of alerts">
    ✔ {{ alert }}
  </div>
</p-sidebar>
