<div class="content" [class.content-disabled]="loading">
  <div class="table-toolbar header">
    <div class="table-toolbar-left">
      <b>{{ header }}</b>
    </div>

    <div class="table-toolbar-right">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Быстрый поиск" [(ngModel)]="filterValue"/>
        </span>
    </div>
  </div>

  <div class="module-list-wrapper">
    <p-accordion [multiple]="true">
      <p-accordionTab *ngFor="let lesson of filteredLessons">
        <ng-template pTemplate="header">
          <div style="flex: none">
            {{ lesson.title }}
          </div>
        </ng-template>

        <div class="module-wrapper">
          <p-dataView [value]="tasksByLesson[lesson.id!]">
            <ng-template pTemplate="list" let-tasks>
              <div class="survey-list-container">
                <p-card *ngFor="let task of tasks" [class]="'survey-card'">
                  <div class="h-flex" style="gap: 1rem">
                    <div class="h-flex" style="flex: 1">
                      <i [class]="task.type == 'task' ? 'pi pi-question-circle' : 'pi pi-book'"
                         style="font-size: 2rem; padding-right: 1rem"></i>
                      <div class="survey-label" (click)="openLectureOrTask(task)">
                        {{ task.title }}
                      </div>
                      <i
                        *ngIf="task.task?.lastAttempt?.status === AttemptStatus.DONE"
                        pTooltip="Просмотр результата"
                        class="pi pi-search"
                        (click)="viewAttempt(task.task!.lastAttempt!.id!)"
                        style="margin-left: 10px; color: var(--primary-color); cursor: pointer">
                      </i>
                      <i
                        *ngIf="task.task?.lastAttempt?.isNewTryAllowed && task.task?.lastAttempt?.status === AttemptStatus.DONE"
                        pTooltip="Доступна возможность повторного прохождения"
                        class="pi pi-replay" style="margin-left: 10px">
                      </i>
                      <div *ngIf="task.type == 'lecture'"
                        style="display: flex; flex-direction: column; align-items: flex-end; gap: 4px; padding-left: 10px">
                        <p-tag *ngFor="let trait of (task.lesson?.traits ?? [])" severity="secondary" [rounded]="true"
                               [style]="{backgroundColor: 'var(--border-color)', color: 'var(--text-dark)', width: 'fit-content'}">
                          <div style="padding: 2px; display: inline-flex; align-items: center; font-size: smaller;">
                            <i class="pi pi-tag" style="padding-right: 0.5rem; font-size: small"></i>
                            <span>{{ trait.name }}</span>
                          </div>
                        </p-tag>
                      </div>
                    </div>

                    <div class="h-flex" style="flex: 1; justify-content: flex-end; gap: 8px;">
                    </div>
                    <div class="extra-info-wrapper">
                      <ng-container *ngIf="task.type == 'task'; else lectureInfo">
                        <div *ngIf="task.task.lastAttempt?.status === AttemptStatus.IN_PROGRESS; else time"> Осталось
                          времени: {{ remainingTimeByAttemptId[task.task.lastAttempt.id.toString()] }}
                        </div>
                        <ng-template #time>
                          <div
                            *ngIf="task.task.time && (task.task?.lastAttempt?.status  == null || task.task?.lastAttempt?.status == AttemptStatus.IN_PROGRESS)">
                            Время выполнения: {{ task.task.time }} мин.
                          </div>
                        </ng-template>
                        <div *ngIf="task.task?.difficultyLocale">
                          <p-tag severity="secondary" pTooltip="Сложность" tooltipPosition="left"
                                 [rounded]="true"
                                 [style]="tagStyleService.getDifficultyStyle(task.task?.difficultyLocale)">
                            <div>
                              {{ task.task?.difficultyLocale }}
                            </div>
                          </p-tag>
                        </div>

                        <div *ngIf="mode == CoursePanelMode.STUDENT">
                          <p-tag severity="secondary" pTooltip="Статус" tooltipPosition="left"
                                 [rounded]="true"
                                 [style]="tagStyleService.getStatusStyle(task.task?.lastAttempt?.statusLocale ?? 'Не пройдено')">
                            <div>
                              {{ task.task?.lastAttempt?.statusLocale ?? 'Не пройдено' }}
                            </div>
                          </p-tag>
                        </div>

                        <div class="v-flex" *ngIf="task.task?.lastAttempt?.tutorMarkLocale">
                          <p-tag severity="secondary" pTooltip="Итоговая оценка" tooltipPosition="left"
                                 [rounded]="true"
                                 [style]="tagStyleService.getMarkStyle(task.task?.lastAttempt?.tutorMarkLocale)">
                            <div>
                              {{ task.task?.lastAttempt?.tutorMarkLocale }}
                            </div>
                          </p-tag>
                        </div>
                      </ng-container>

                      <ng-template #lectureInfo>
                        <div *ngIf="mode == CoursePanelMode.STUDENT" >
                          <p-tag severity="secondary" pTooltip="Статус" tooltipPosition="left"
                                 [rounded]="true"
                                 [style]="tagStyleService.getStatusStyle(isWasOpened(task.lesson.id) ? 'Прочитано' : 'Не прочитано')">
                            <div>
                              {{ isWasOpened(task.lesson.id) ? 'Прочитано' : 'Не прочитано' }}
                            </div>
                          </p-tag>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </p-card>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>

<app-lecture-view *ngIf="lectureViewVisible"
                  [lesson]="lessonForLectureView!"
                  (lectureViewEnd)="onLectureViewEnd()">
</app-lecture-view>

<app-task-attempt *ngIf="taskAttemptVisible"
                  [formData]="taskAttemptFormData!"
                  (taskAttemptClose)="onTaskAttemptClose($event)">
</app-task-attempt>

<p-dialog header="Задания обучающихся"
          [style]="{width: '95%', height: '95%'}"
          *ngIf="studentAttemptsVisible"
          [(visible)]="studentAttemptsVisible" [modal]="true"
          [resizable]="false" [closable]="true" (onHide)="onStudentsAttemptsClose()">
  <app-attempt [mode]="AttemptListMode.TUTOR" [tutorFilterData]="tutorFilterData">
  </app-attempt>
</p-dialog>

<p-dialog *ngIf="checkingDialogVisible"
          [style]="{width: '95%', height: '95%'}"
          [modal]="true"
          [resizable]="false"
          [draggable]="false"
          [closable]="true"
          [header]="'Просмотр задания: ' + checkingAttempt!.task!.title"
          [(visible)]="checkingDialogVisible"
          (onHide)="onAttemptViewClose()"
          appendTo="body">
  <p-tabView [scrollable]="true" [(activeIndex)]="activeIndex">
    <p-tabPanel #tabPanel *ngFor="let file of checkingAttemptFiles; index as index" [header]="'Файл: ' + file.fileName">
      <app-image-with-feedback-viewer [isTutorMode]="false"
                                      [file]="file"
                                      [features]="features"
                                      [attempt]="checkingAttempt!"
                                      [currentIndex]="index"
                                      [activeIndex]="activeIndex">
      </app-image-with-feedback-viewer>
    </p-tabPanel>
  </p-tabView>

  <p-footer [class.content-disabled]="loading">
      <p-button label="Закрыть" styleClass="button-clear bordered"
                (click)="checkingDialogVisible = false">
      </p-button>
  </p-footer>
</p-dialog>
