<p-dialog #dialog header="Новый чат" [modal]="true" [(visible)]="visible"
          [class.content-disabled]="loading" [style]="{width: '600px'}"
          [closable]="true" (onHide)="onHide()">
  <form #form="ngForm">
    <div class="form-row">
      <label class="required">Тип:</label>
      <p-selectButton name="type"
                      [options]="typeOptions"
                      [allowEmpty]="false"
                      [(ngModel)]="chat.type"
                      (onChange)="onTypeChange()"/>
    </div>

    <ng-container *ngIf="chat.type == ChatType.DIALOGUE; else group">
      <div class="form-row">
        <label class="required">Пользователь:</label>
        <p-dropdown name="users"
                    appendTo="body"
                    optionLabel="fullName"
                    placeholder="Выберите участника чата"
                    [filter]="true"
                    [style]="{width: '100%', display: 'inline-flex'}"
                    [options]="allUsers"
                    [virtualScroll]="true"
                    [virtualScrollItemSize]="46"
                    [(ngModel)]="selectedUser" required>
        </p-dropdown>
      </div>
    </ng-container>

    <ng-template #group>
      <div class="form-row">
        <label class="required">Название:</label>
        <input name="name" pInputText placeholder="Введите название чата" required [(ngModel)]="chat.name">
      </div>

      <div class="form-row">
        <label class="required">Пользователи:</label>
        <p-multiSelect name="users"
                       appendTo="body"
                       optionLabel="fullName"
                       placeholder="Выберите участников чата"
                       [maxSelectedLabels]="1"
                       selectedItemsLabel="Участников выбрано: {0}"
                       [style]="{width: '100%', display: 'inline-flex'}"
                       [options]="allUsers"
                       [virtualScroll]="true" [virtualScrollItemSize]="43"
                       [(ngModel)]="chat.members" required>
        </p-multiSelect>
      </div>
    </ng-template>
  </form>
  <p-footer>
    <button pButton label="Создать" class="p-button-success"
            [disabled]="form.invalid"
            (click)="create()">
    </button>
    <button pButton label="Отмена" class="p-button-secondary" (click)="result.emit(null)"></button>
  </p-footer>
</p-dialog>
