<p-password #passwordInput name="password" [(ngModel)]="password" [toggleMask]="true"
            placeholder="Введите пароль" [maxLength]="50" [minlength]="8"
            promptLabel="Проверка пароля" weakLabel="Ненадежный пароль"
            mediumLabel="Средний пароль" strongLabel="Надежный пароль" required>
</p-password>

<input pInputText name="confirmationPassword" maxlength="50" minlength="8"
       [type]="passwordInput.unmasked ? 'text' : 'password'"
       [(ngModel)]="confirmationPassword" placeholder="Введите пароль ещё раз" required>
<div *ngIf="!!password && password.length < 8"
     class="password-tip">Длина пароля - не менее 8 символов
</div>
<div *ngIf="!!password && !!confirmationPassword && password != confirmationPassword"
     class="password-tip red">Пароли не совпадают
</div>
