<div class="full-width-height">
  <p-splitter [style]="{ height: '100%'}" [panelSizes]="[20, 80]" class="min200">
    <ng-template pTemplate>
      <div class="list-box-wrapper">
        <div class="list-box-header"><b>Курсы группы</b></div>
        <div class="list-box-body">
          <p-listbox
            [options]="courses"
            [(ngModel)]="selectedCourse"
            [listStyle]="{'max-height': 'unset', 'height': '100%'}"
            optionLabel="course.name"
            [filter]="true"/>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate>
      <p-splitter [style]="{ height: '100%'}" [panelSizes]="[25, 75]" class="min200">
        <ng-template pTemplate>
          <div class="list-box-wrapper">
            <div class="list-box-header"><b>Ученики группы</b></div>
            <div class="list-box-body">
              <p-listbox
                [options]="students"
                [(ngModel)]="selectedStudent"
                [listStyle]="{'max-height': 'unset', 'height': '100%'}"
                optionLabel="student.user.fullName"
                [filter]="true"/>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate>
          <div class="course-card">
            <app-course-panel *ngIf="selectedCourse && selectedStudent && studyGroup"
                              [mode]="CoursePanelMode.TUTOR"
                              [course]="selectedCourse" [student]="selectedStudent" [studyGroup]="studyGroup">
            </app-course-panel>
          </div>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</div>
