.full-size {
  width: 100%;
  height: 100%;
}

.begin-attempt-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.begin-attempt-label-container-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.begin-attempt-label-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.begin-attempt-label {
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 1em;
}

.begin-attempt-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
