<p-dialog [header]="isEditMode ? 'Редактирование учебной группы' : 'Добавление новой учебной группы'"
          [style]="{width: '600px'}"
          [(visible)]="visible" [modal]="true" [resizable]="false" [closable]="true" (onHide)="onHide()">
  <form #form="ngForm" [class.content-disabled]="loading">
    <div class="form-row">
      <label class="required">Номер группы:</label>
      <input maxlength="255" name="name" pInputText
             [(ngModel)]="studyGroup.name" placeholder="Введите номер группы" required>
    </div>
  </form>

  <p-footer [class.content-disabled]="loading">
    <p-button [label]="loading ? 'Подождите...' : 'Сохранить'" [disabled]="!!form.invalid"
              (click)="save()"></p-button>
    <p-button label="Отмена" styleClass="button-clear bordered" (click)="onHide()"></p-button>
  </p-footer>
</p-dialog>
