<div class="main-area" (keydown)="onKeyPress($event)">
  <div class="room-list">
    <div class="room-list-header">
      <b>Список чатов</b>
      <p-button icon="pi pi-plus"
                styleClass="button-clear" pTooltip="Добавить новый чат"
                (click)="registrationDialogVisible = true">
      </p-button>
    </div>
    <hr>
    <div style="overflow: auto">
      <div *ngFor="let chatRoom of chats" style="padding: 5px">
        <div class="chat-room"
             [class.active-chat]="chatRoom.id === chat?.id"
             (click)="selectChat(chatRoom)">
          <div style="display: inline-flex">
            <div><b>{{ chatRoom.name }}</b></div>
            <div style="flex: auto"></div>
            <p-button icon="pi pi-sign-out" styleClass="button-clear" class="chat-room-close-btn"
                      pTooltip="Покинуть чат"
                      (onClick)="leaveChat(chatRoom)">
            </p-button>
          </div>
          <div class="last-message">
            <ng-container *ngIf="!!chatRoom.lastMessage; else empty">
              <div style="flex: none">
                {{ chatRoom.lastMessage.author?.lastname ?? '' }} {{ chatRoom.lastMessage.author?.firstname ?? '' }}:
              </div>
              <div class="last-message-content">{{ chatRoom.lastMessage.content }}</div>
            </ng-container>
            <ng-template #empty>Сообщений нет</ng-template>
          </div>
          <div style="width: 100%; text-align: right; font-size: 12px; padding-bottom: 5px;">
            {{ chatRoom.lastMessage?.createdDate | date:'dd MMM HH:mm' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-box" [class.content-disabled]="chat?.id == null">
    <div class="tabPanel-content">
      <div class="message-feed-wrapper">
        <div class="chat-header">
          <p-button icon="pi pi-users" rounded styleClass="button-clear"
                    [label]="chat != undefined ? '(' + chat.members?.length + ')' : ''"
                    (onClick)="showMembers()"></p-button>
        </div>
        <div *ngFor="let message of chat?.messages ?? []" style="display: grid; width: 100%;">
          <div class="message-wrapper" [class.not-my-message]="isNotMyMessage(message)">
            <span style="flex: auto;">{{ message.content }}</span>
            <div *ngIf="!!message.attachments && message.attachments.length > 0"
                 style="display: inline-flex; gap: 3px">
              <i *ngFor="let attachment of message.attachments" class="pi pi-file"
                 [pTooltip]="attachment.fileName" (click)="downloadAttachment(attachment)">
              </i>
            </div>
            <div style="display: inline-flex; margin-top: 5px; font-size: x-small">
              <b style="flex: none">{{ message.author?.lastname ?? '' }} {{ message.author?.firstname ?? '' }}:</b>
              <span style="flex: none; margin-left: 5px"><u>{{ message.createdDate | date:'HH:mm:ss' }}</u></span>
            </div>
          </div>
        </div>
        <div #bottomAnchor></div>
      </div>

      <form #form="ngForm" [class.content-disabled]="loading">
        <div style="padding: 10px; display: inline-flex; gap: 15px">
          <div pBadge
               [badgeDisabled]="!newMessage.attachments || newMessage.attachments.length === 0"
               [value]="newMessage.attachments?.length ?? 0">
            <p-fileUpload #fileUpload
                          mode="basic"
                          [auto]="true"
                          [customUpload]="true"
                          (mouseenter)="!newMessage.attachments?.length || attachmentsPanel.show($event)"
                          (uploadHandler)="addAttachment($event, fileUpload)">
              <p-overlayPanel #attachmentsPanel>
                <div style="display: inline-flex; gap: 15px">
                  <i *ngFor="let attachment of newMessage.attachments" class="pi pi-file"
                     [pTooltip]="attachment.fileName">
                    <i class="pi pi-times"
                       style="position: relative; transform: scale(0.6); top: -50%; left: -20%; cursor: pointer; color: red;"
                    (click)="removeAttachment(attachment)"></i>
                  </i>
                </div>
              </p-overlayPanel>
            </p-fileUpload>
          </div>
          <input pInputText name="message" placeholder="Введите Ваше сообщение"
                 [(ngModel)]="newMessage.content" size="255"
                 style="width: 100%">
          <button id="send-button" pButton (click)="sendMessage()" icon="pi pi-play"
                  [disabled]="!newMessage.content && !newMessage.attachments?.length"></button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-chat-registration-dialog *ngIf="registrationDialogVisible"
                              [loading]="registrationDialogLoading"
                              (result)="createChat($event)">
</app-chat-registration-dialog>
