<div class="main-area" (keydown)="onKeyPress($event)">
  <div class="room-list">
    <div style="text-align: center"><b>Список чатов</b></div>
    <hr>
    <div>
      <div *ngFor="let chatRoom of chats">
        <div style="display: inline-flex; flex-direction: row; align-items: center; width: 100%">
          <div class="chatRoom" [class.active-chat]="chatRoom.id === chat?.id" (click)="selectChat(chatRoom)">
            <span>{{ chatRoom.name }}</span>
            <div *ngIf="!!chatRoom.lastMessage" class="last-message">
              {{ chatRoom.lastMessage.createdDate | date:'HH:mm:ss' }}
              {{ chatRoom.lastMessage.author?.lastname ?? '' }} {{ chatRoom.lastMessage.author?.firstname ?? '' }}:
              {{ chatRoom.lastMessage.content }}
            </div>
          </div>
          <p-button icon="pi pi-sign-out" [style]="{border: 0}" [rounded]="true" [text]="true"
                    (onClick)="leaveChat(chatRoom)"></p-button>
        </div>
        <hr>
      </div>
    </div>
    <div style="flex: 1"></div>
    <hr>
    <button pButton label="Новый чат" class="p-button-link" style="width: 100%; text-align: center"
            (click)="registrationDialogVisible = true"></button>
  </div>
  <div class="chat-box" [class.content-disabled]="chat?.id == null">
    <div class="tabPanel-content">
      <div class="message-feed-wrapper">
        <div *ngFor="let message of chat?.messages ?? []" style="display: grid; width: 100%;">
          <div class="message-wrapper" [class.not-my-message]="isNotMyMessage(message)">
            <span style="flex: auto;">{{ message.content }}</span>
            <div style="display: inline-flex; margin-top: 5px; font-size: x-small">
              <b style="flex: none">{{ message.author?.lastname ?? '' }} {{ message.author?.firstname ?? '' }}:</b>
              <span style="flex: none; margin-left: 5px"><u>{{ message.createdDate | date:'HH:mm:ss' }}</u></span>
            </div>
          </div>
        </div>
        <div #bottomAnchor></div>
      </div>

      <form #form="ngForm" [class.content-disabled]="loading">
        <div style="padding: 10px; display: inline-flex">
          <input pInputText name="message" placeholder="Введите Ваше сообщение"
                 [(ngModel)]="newMessage.content" size="255"
                 style="width: 100%" required>
          <button id="sent-button" pButton (click)="sendMessage()" icon="pi pi-play" [disabled]="form.invalid"></button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-chat-registration-dialog *ngIf="registrationDialogVisible"
                              [loading]="registrationDialogLoading"
                              (result)="createChat($event)">
</app-chat-registration-dialog>
