<p-table #table [value]="courses" [scrollable]="true" scrollHeight="flex" sortMode="multiple"
         [loading]="loading"
         [selectionMode]="'single'"
         [(selection)]="selected"
         [globalFilterFields]="columnFields"
         (onFilter)="selected=undefined"
         [resizableColumns]="true"
         [columns]="columns"
         [reorderableColumns]="true"
         [virtualScroll]="true"
         [virtualScrollItemSize]="55"
         styleClass="p-datatable-gridlines"
         dataKey="id">
  <!--TABLE TOOLBAR-->
  <ng-template pTemplate="caption">
    <div class="table-toolbar">
      <div class="table-toolbar-left">
        <p-button pTooltip="Обновить таблицу" icon="pi pi-sync" (click)="getCoursesFromApi()"
                  styleClass="button-primary"></p-button>
        <p-button pTooltip="Показать / Скрыть фильтры" icon="pi pi-filter" (click)="filter=!filter"
                  styleClass="button-primary"></p-button>

        <div class="splitter"></div>

        <p-button pTooltip="Добавить курс" icon="pi pi-plus" severity="success"
                  (click)="createCourse()">
        </p-button>

        <p-button pTooltip="Редактировать выбранный курс" icon="pi pi-pencil"
                  styleClass="button-primary" [disabled]="!selected" (click)="editCourse()">
        </p-button>

        <p-button *ngIf="$any(selected)?.archived; else archiveButton"
                  pTooltip="Восстановить курс" icon="pi pi-undo" severity="warning"
                  [disabled]="!selected" (click)="unarchive()">
        </p-button>
        <ng-template #archiveButton>
          <p-button pTooltip="Архивировать курс" icon="pi pi-trash" severity="danger"
                    [disabled]="!selected" (click)="confirmArchive($event)">
          </p-button>
        </ng-template>

        <div class="splitter"></div>

        <p-button pTooltip="Печать" icon="pi pi-print" (click)="menu.toggle($event)" severity="success"></p-button>
      </div>

      <div class="table-toolbar-right">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input #globalSearch pInputText type="text" placeholder="Быстрый поиск"
                   (input)="table.filterGlobal(globalSearch.value, 'contains')"/>
        </span>
      </div>
    </div>
  </ng-template>

  <!--TABLE COLUMNS-->
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let col of columns">
        <th [style]="{width: col.width+'%'}" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </ng-container>
    </tr>
    <!--TABLE FILTER-->
    <tr *ngIf="filter">
      <th *ngFor="let col of columns">
        <app-column-filter-wrapper [column]="col"></app-column-filter-wrapper>
      </th>
    </tr>
  </ng-template>

  <!--TABLE DATA-->
  <ng-template pTemplate="body" let-row>
    <tr [pSelectableRow]="row">
      <ng-container *ngFor="let col of columns">
        @switch (col.type) {
          @case ("boolean") {
            <td style="text-align: center">
              <p-checkbox [binary]="true" [readonly]="true" [style]="{pointerEvents: 'none'}"
                          [(ngModel)]="row[col.fieldGetter ?? col.field]">
              </p-checkbox>
            </td>
          }
          @case ("date") {
            <td style="text-align: center">{{ getField(row, col) }}</td>
          }
          @default {
            <td [class.cell-center]="col.field == 'id'">{{ getField(row, col) }}</td>
          }
        }
      </ng-container>
    </tr>
  </ng-template>

  <!--TABLE SUMMARY-->
  <ng-template pTemplate="summary">
    <div class="table-toolbar">
      <div class="table-toolbar-left">
        Всего записей: {{ courses.length }}
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="99">Ничего не найдено</td>
    </tr>
  </ng-template>
</p-table>

<app-course-registration-form *ngIf="!!courseFormData"
                              [courseId]="courseFormData.courseId"
                              (result)="onCourseFormResult($event)">
</app-course-registration-form>

<p-menu #menu [model]="(ExportTable.exportMenu | async)!" [popup]="true"
        (onShow)="ExportTable.showMenu(table, columns, courses)"
        appendTo="body">
</p-menu>
