<div class="full-width-height" style="display: flex; flex-direction: column">
  <div style="flex: none; padding: 20px">
    <div>Обучающийся: <b>{{ attempt.user?.fullName }}</b></div>
    <div>Комментарий к файлу: <b>{{ file.comment ? file.comment : '-' }}</b></div>
    <div>Автоматическая оценка: <b>{{ attempt.autoMarkLocale }}</b></div>
  </div>
  <div style="flex: auto; display: inline-flex">
    <div style="overflow: auto; width: 100%; height: 100%; text-align: center; display: flex;">
      <div #imgWrapper class="img-wrapper"
           [style]="{transform: 'scale(' + (zoomValue / 100) +')', 'transform-origin': '0 0'}"
           [class.drawing]="isDrawingNow"
           (mousedown)="onDrawStart($event, imgWrapper)"
           (mousemove)="onDraw($event, imgWrapper)"
           (mouseup)="onDrawEnd()">
        <div class="feedback" *ngFor="let feedback of results"
             [ngDraggable]="isTutorMode" [inBounds]="true" [bounds]="imgWrapper"
             zIndex=1 zIndexMoving=999
             [position]="{x: getScaledPx(feedback.x1), y: getScaledPx(feedback.y1)}"
             (endOffset)="onDragEndPro(feedback, $event)"
             [ngResizable]="isTutorMode"
             (rzStop)="onResizeStop(feedback, $event)"
             [rzContainment]="imgWrapper"
             [rzAspectRatio]="true"
             [preventDefaultEvent]="true"
             [style]="feedback.style"
             [class.error]="true">
          <div style="width: 100%; height: 100%" (click)="op.toggle($event)"></div>

          <div #border class="border"
               [class.error]="true"
               [class.hovered]="hoveredFeedback == feedback"
          ></div>

          <i class="pi pi-times remove-handler"
             pTooltip="Удалить дефект"
             [class.error]="true" (click)="delete(feedback); stopNativeEvent($event)"
             [class.display-none]="!isTutorMode"
          ></i>

          <p-overlayPanel #op [showCloseIcon]="true" [dismissable]="false">
            <div class="comment-wrapper">
              <ng-container *ngIf="isTutorMode; else showMode">
                <div class="comment-editor-wrapper">
                  <div class="form-row">
                    <label>Дефекты</label>
                    <p-multiSelect name="features" appendTo="body"
                                   optionLabel="name"
                                   placeholder="Укажите дефекты"
                                   [maxSelectedLabels]="1"
                                   selectedItemsLabel="Выбрано: {0}"
                                   [style]="{width: '100%', display: 'inline-flex'}"
                                   [options]="features"
                                   [(ngModel)]="feedback.features" required>
                    </p-multiSelect>
                  </div>

                  <textarea pInputTextarea placeholder="Введите комментарий" [readonly]="!isTutorMode"
                            [(ngModel)]="feedback.comment" [maxLength]="255" [autoResize]="true"
                            style="width: 100%; min-height: 100px; max-height: 160px; min-width: 480px">
                </textarea>

                  <p-footer>
                    <div class="full-width" style="padding: 10px 5px 5px; text-align: center">
                      <p-button icon="pi pi-check" styleClass="button-clear bordered"
                                label="Сохранить" (click)="op.toggle($event)">
                      </p-button>
                    </div>
                  </p-footer>
                </div>
              </ng-container>

              <ng-template #showMode>
                <div class="comment-wrapper" style="max-width: 500px">
                  <div style="width: 100%">
                    <div class="form-row">
                      <label>Дефекты:</label>
                      <div>
                        <div *ngIf="feedback.features.length == 0"> не указаны</div>
                        <div *ngFor="let feature of feedback.features">
                          ({{ feature.code }}) {{ feature.name }}
                        </div>
                      </div>
                    </div>

                    <div class="form-row">
                      <label>Комментарий наставника:</label>
                      <div>{{ feedback.comment ? feedback.comment : 'комментарий отсутствует' }}</div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </p-overlayPanel>
        </div>

        <div [id]="'tutorSelection'+currentIndex" [hidden]="true" class="tutorSelection" [class.error]="true"></div>

        <img #imgSource [src]="baseUrl + '/tasks/files/' + file.fileId" alt="scan"
             (load)="onImageLoad(imgSource)"
             style="pointer-events: none; user-select: none;">
      </div>
    </div>

    <div class="control-panel">
      <div class="feedback-list">
        <div class="feedback-list-header">
          <b>Замечания по заданию</b>
        </div>
        <div *ngIf="noAutoErrors" style="text-align: center">ИИ дефектов не нашел</div>
        <div *ngFor="let feedback of results" class="feedback-in-list"
             (mouseleave)="hoveredFeedback = null"
             (mouseenter)="onHoverFeedbackInList(feedback)">
          <div *ngIf="isTutorMode" style="display: inline-flex; gap: 5px; padding: 5px">
            <i class="pi pi-trash" pTooltip="Удалить дефект" (click)="delete(feedback)"></i>
            <i *ngIf="feedback.isAutomatic" class="pi pi-history" (click)="restore(feedback)"
               pTooltip="Восстановить дефект до исходного состояния"></i>
          </div>
          <span style="width: 100%">
          {{ feedback.comment ? feedback.comment : 'Комментарий не указан' }}
        </span>
        </div>
      </div>

      <div style="width: 100%; padding: 10px">
        <div style="padding: 10px">Текущий масштаб {{ zoomValue }}%</div>
        <p-slider [(ngModel)]="zoomValue" [max]="200" [min]="100"/>

        <div *ngIf="isTutorMode"
             style="display: inline-flex; gap: 5px; padding: 20px; justify-content: center; width: 100%">
          <p-button label="Добавить дефект"
                    icon="pi pi-plus" severity="danger"
                    (click)="addFeedback()">
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
