.img-wrapper {
  margin: auto;
  position: relative;
  width: 920px;
  height: 600px;
}

.img-wrapper img {
  width: 100%;
}

.tutor-panel {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
  justify-content: center;
  flex: none;
}

.feedback {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.15);
  transform: none;
  min-width: 25px;
  min-height: 25px;
  cursor: pointer;
}

.drawing {
  cursor: crosshair;
}

.feedback .border {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: 6px solid var(--primary-color);
  border-radius: 5px;
}

.feedback .border.hovered {
  border-color: black !important;
}

.feedback .border.error, #tutorSelection.error {
  border-color: var(--red-color);
}

.feedback .border.warn, #tutorSelection.warn {
  border-color: var(--yellow-color);
}

#tutorSelection {
  border: 6px dotted var(--primary-color);
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
}

.comment-wrapper {
  max-width: 600px;
  max-height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment-editor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.feedback-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

.feedback-list-header {
  text-align: center;
  padding: 10px;
}

.feedback-in-list {
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.feedback-in-list:hover {
  background: var(--border-color);
}

.active-feedback-in-list {
  background: aliceblue;
}

/* RESIZER */
.ng-resizable-diagonal {
  border-bottom: 16px solid #000 !important;
  border-left: 16px solid transparent !important;
  margin-right: -16px;
  margin-bottom: -16px;
  z-index: 999999999;
}

.feedback.warn .ng-resizable-diagonal {
  border-bottom: 16px solid var(--yellow-color) !important;
  border-left: 16px solid transparent !important;
}

.feedback.error .ng-resizable-diagonal {
  border-bottom: 16px solid var(--red-color) !important;
  border-left: 16px solid transparent !important;
}

.feedback .ng-resizable-diagonal {
  border-bottom: 16px solid var(--primary-color) !important;
  border-left: 16px solid transparent !important;
}

.move-handler {
  text-align: right;
  font-size: larger;
  color: var(--primary-color);
  cursor: move;
  width: fit-content;
  position: absolute;
  top: -16px;
  right: -16px;
  z-index: 999999999;
}

.feedback .move-handler.error {
  color: var(--red-color);
}

.feedback .move-handler.warn {
  color: var(--yellow-color);
}

.display-none {
  display: none;
}

.control-panel {
  width: 280px;
  flex: none;
  height: 100%;
  padding: 5px;
  border-left: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}
