<p-accordion [multiple]="true">
  <p-accordionTab [header]="lesson.title" *ngFor="let lesson of lessons">
    <div class="lesson-wrapper">
      <div class="presentation-wrapper">
        <ngx-doc-viewer [url]="lesson.presentationSource"
                        [viewer]="isOfficeSource(lesson.presentationSource) ? 'google' : 'pdf'"
                        style="width:100%; height: 600px"
        ></ngx-doc-viewer>
      </div>

      <div class="description-wrapper">
        {{lesson.description}}
      </div>
    </div>
  </p-accordionTab>
</p-accordion>
