<p-table #table [value]="attempts" [scrollable]="true" scrollHeight="flex" sortMode="multiple"
         [loading]="loading"
         [selectionMode]="'single'"
         [(selection)]="selectedAttempt"
         [globalFilterFields]="columnFields"
         (onFilter)="selectedAttempt=undefined"
         [resizableColumns]="true"
         [columns]="columns"
         [reorderableColumns]="true"
         [virtualScroll]="true"
         [virtualScrollItemSize]="55"
         styleClass="p-datatable-gridlines"
         dataKey="id">
  <!--TABLE TOOLBAR-->
  <ng-template pTemplate="caption">
    <div class="table-toolbar">
      <div class="table-toolbar-left">
        <ng-container *ngIf="mode == AttemptListMode.STUDENT">
          <div>Мои задания</div>
          <div class="splitter"></div>
        </ng-container>
        <ng-container *ngIf="mode == AttemptListMode.TUTOR">
          <div>Задания обучающихся</div>
          <div class="splitter"></div>
        </ng-container>

        <p-button pTooltip="Обновить таблицу" icon="pi pi-sync" (click)="getAttemptsFromApi()"
                  styleClass="button-primary"></p-button>
        <p-button pTooltip="Показать / Скрыть фильтры" icon="pi pi-filter" (click)="filter=!filter"
                  styleClass="button-primary"></p-button>

        <ng-container *ngIf="mode == AttemptListMode.TUTOR">
          <div class="splitter"></div>
          <p-button [label]="selectedAttempt?.autoMark ? 'Уточнить оценку' : 'Проверить задание'"
                    [pTooltip]="selectedAttempt?.autoMark ? 'Уточнить оценку выставленную ИИ' : ''"
                    [icon]="selectedAttempt?.autoMark ? 'pi pi-check-square' : 'pi pi-check'"
                    styleClass="button-primary" [disabled]="!selectedAttempt"
                    (click)="checkAttempt()">
          </p-button>
        </ng-container>

        <div class="splitter"></div>
        <p-button label="Посмотреть результат"
                  styleClass="button-primary"
                  icon="pi pi-search"
                  (click)="showResults()"
                  [disabled]="!selectedAttempt">
        </p-button>

        <ng-container *ngIf="mode == AttemptListMode.STUDENT && selectedAttempt?.status == AttemptStatus.IN_PROGRESS">
          <div class="splitter"></div>
          <p-button label="Продолжить выполнение" styleClass="button-primary"
                    (click)="continueAttempt()">
          </p-button>
        </ng-container>
      </div>

      <div class="table-toolbar-right">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input #globalSearch pInputText type="text" placeholder="Быстрый поиск"
                   (input)="table.filterGlobal(globalSearch.value, 'contains')"/>
        </span>
      </div>
    </div>
  </ng-template>

  <!--TABLE COLUMNS-->
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let col of columns">
        <th [style]="{width: col.width+'%'}" [pSortableColumn]="col.field" [pTooltip]="col.header" [showDelay]="1000"
            pResizableColumn pReorderableColumn>
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </ng-container>
    </tr>
    <!--TABLE FILTER-->
    <tr *ngIf="filter">
      <th *ngFor="let col of columns">
        <app-column-filter-wrapper [column]="col"></app-column-filter-wrapper>
      </th>
    </tr>
  </ng-template>

  <!--TABLE DATA-->
  <ng-template pTemplate="body" let-row>
    <tr [pSelectableRow]="row">
      <ng-container *ngFor="let col of columns">
        @switch (col.type) {
          @case ("boolean") {
            <td style="text-align: center">
              <p-checkbox [binary]="true" [readonly]="true" [style]="{pointerEvents: 'none'}"
                          [(ngModel)]="row[col.fieldGetter ?? col.field]">
              </p-checkbox>
            </td>
          }
          @case ("date") {
            <td style="text-align: center" [pTooltip]="getField(row, col)" [showDelay]="1000">
              {{ getField(row, col) }}
            </td>
          }
          @case ("status") {
            <td style="text-align: center; text-overflow: unset;" [pTooltip]="getField(row, col)" [showDelay]="1000">
              <p-tag severity="secondary" *ngIf="getField(row, col) != null"
                     [rounded]="true"
                     [style]="getStatusStyle(getField(row, col))">
                <div>
                  {{ getField(row, col) }}
                </div>
              </p-tag>
            </td>
          }
          @case ("autoStatus") {
            <td style="text-align: center; text-overflow: unset;" [pTooltip]="getField(row, col)" [showDelay]="1000">
              <p-tag severity="secondary" *ngIf="getField(row, col) != null"
                     [rounded]="true"
                     [style]="getAutoStatusStyle(getField(row, col))">
                <div>
                  {{ getField(row, col) }}
                </div>
              </p-tag>
            </td>
          }
          @case ("mark") {
            <td style="text-align: center; text-overflow: unset;" [pTooltip]="getField(row, col)" [showDelay]="1000">
              <p-tag severity="secondary" *ngIf="getField(row, col) != null"
                     [rounded]="true"
                     [style]="getMarkStyle(getField(row, col))">
                <div>
                  {{ getField(row, col) }}
                </div>
              </p-tag>
            </td>
          }
          @case ("difficulty") {
            <td style="text-align: center; text-overflow: unset;" [pTooltip]="getField(row, col)" [showDelay]="1000">
              <p-tag severity="secondary" *ngIf="getField(row, col) != null"
                     [rounded]="true"
                     [style]="getDifficultyStyle(getField(row, col))">
                <div>
                  {{ getField(row, col) }}
                </div>
              </p-tag>
            </td>
          }
          @default {
            <td [class.cell-center]="col.field == 'id'" [pTooltip]="getField(row, col)" [showDelay]="1000">
              {{ getField(row, col) }}
            </td>
          }
        }
      </ng-container>
    </tr>
  </ng-template>

  <!--TABLE SUMMARY-->
  <ng-template pTemplate="summary">
    <div class="table-toolbar">
      <div class="table-toolbar-left">
        Всего записей: {{ attempts.length }}
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="99">Ничего не найдено</td>
    </tr>
  </ng-template>
</p-table>


<p-menu #menu [model]="(ExportTable.exportMenu | async)!" [popup]="true"
        (onShow)="ExportTable.showMenu(table, columns, attempts)"
        appendTo="body">
</p-menu>

<p-dialog *ngIf="checkingDialogVisible"
          [style]="{width: '95%', height: '95%'}"
          [modal]="true"
          [resizable]="false"
          [draggable]="false"
          [closable]="true"
          [header]="(readOnlyTaskMode ? 'Просмотр задания: ' : 'Проверка задания: ') + checkingAttempt.task?.title"
          [(visible)]="checkingDialogVisible"
          appendTo="body"
          (onHide)="getAttemptsFromApi()">
  <p-tabView [scrollable]="true" [(activeIndex)]="activeIndex">
    <p-tabPanel #tabPanel *ngFor="let file of checkingAttemptFiles; index as index" [header]="'Файл: ' + file.fileName">
      <app-image-with-feedback-viewer [isTutorMode]="!readOnlyTaskMode"
                                      [file]="file"
                                      [features]="features"
                                      [attempt]="checkingAttempt"
                                      [currentIndex]="index"
                                      [activeIndex]="activeIndex"
                                      [resultsAIBackup]="resultsAIBackup"
                                      (onNewErrorAdded)="onTutorErrorAdded($event)">
      </app-image-with-feedback-viewer>
    </p-tabPanel>
  </p-tabView>

  <p-footer [class.content-disabled]="loading">
    <ng-container *ngIf="!readOnlyTaskMode; else close">
      <p-button [label]="loading ? 'Подождите...' : 'Выставить итоговую оценку'"
                (click)="completeAttemptByTutor()"></p-button>
      <p-button label="Отмена" styleClass="button-clear bordered"
                (click)="checkingDialogVisible = false">
      </p-button>
    </ng-container>

    <ng-template #close>
      <p-button label="Закрыть" styleClass="button-clear bordered"
                (click)="finalCheckingDialogVisible = false">
      </p-button>
    </ng-template>
  </p-footer>
</p-dialog>

<app-task-attempt *ngIf="taskAttemptVisible"
                  [formData]="taskAttemptFormData!"
                  [attemptId]="taskAttemptId"
                  (taskAttemptClose)="onTaskAttemptClose()">
</app-task-attempt>

<p-dialog *ngIf="finalCheckingDialogVisible"
          header="Завершение проверки"
          [(visible)]="finalCheckingDialogVisible"
          [resizable]="false"
          [modal]="true" [style]="{maxWidth: '800px'}">
  <form #resultForm="ngForm">
    <div class="form-row">
      <label class="required" style="width: 200px">Итоговая оценка:</label>
      <p-dropdown name="tutorMark" [options]="tutorMarkOptions"
                  [(ngModel)]="checkingAttempt.tutorMark"
                  [style]="{width: '100%'}"
                  appendTo="body" required>
      </p-dropdown>
    </div>
    <div class="form-row">
      <label style="width: 200px">Комментарий:</label>
      <textarea pInputTextarea name="comment" placeholder="Введите итоговый комментарий, если хотите"
                [(ngModel)]="checkingAttempt.tutorComment" [maxLength]="255" [autoResize]="true"
                [rows]="1" style="width: 100%; max-height: 200px;">
      </textarea>
    </div>
    <div class="form-row" style="gap: 5px">
      Рекомендовать к повторному прохождению:
      <p-checkbox name="isNewTryAllowed" [(ngModel)]="checkingAttempt.isNewTryAllowed" [binary]="true"></p-checkbox>
    </div>
  </form>

  <p-footer [class.content-disabled]="loading">
    <p-button [label]="loading ? 'Подождите...' : 'Завершить проверку'"
              (click)="finalCompleteAttemptByTutor()"></p-button>
    <p-button label="Отмена" styleClass="button-clear bordered"
              (click)="finalCheckingDialogVisible = false">
    </p-button>
  </p-footer>
</p-dialog>
