<p-dialog #dialog
          [style]="{width: '95%', height: '95%'}"
          [baseZIndex]="99"
          [autoZIndex]="false"
          [modal]="true"
          [resizable]="false"
          [draggable]="false"
          [closable]="true"
          [header]="surveyId != null ? 'Редактирование тестирования' : 'Создание тестирования'"
          [(visible)]="visible"
          (onHide)="result.emit(null)">
    <div style="width: 100%; height: 100%;">
        <p-stepper [(activeStep)]="stepperIndex" [linear]="true">
            <p-stepperPanel header="Тестирование">
                <ng-template pTemplate="content">
                    <div style="padding: 1em;">
                        <form #surveyForm="ngForm" id="survey">
                            <div class="form-row">
                                <label class="required">Наименование тестирования:</label>
                                <input name="name" pInputText
                                       [(ngModel)]="survey.name" placeholder="Введите наименование тестирования"
                                       required>
                            </div>

                            <div class="form-row">
                                <label>Ограничение по времени (в минутах):</label>
                                <p-inputNumber name="timeLimitMinutes"
                                               [min]="0"
                                               [(ngModel)]="survey.timeLimitMinutes"/>
                            </div>

                        </form>
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Вопросы">
                <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    <p-splitter [style]="{height: '100%', border: 0}" [panelSizes]="[75, 25]" [minSizes]="[40, 10]">
                        <ng-template pTemplate>
                            <p-tabView [class.content-disabled]="selectedQuestion == null"
                                       [(activeIndex)]="tabviewIndex"
                                       [style]="tabviewIndex == 0 ? {minWidth: '600px'} : {minWidth: '0px'}">
                                <p-tabPanel header="Настройка">
                                    <app-survey-question-registration *ngIf="selectedQuestion != null"
                                                                      [question]="selectedQuestion"
                                    ></app-survey-question-registration>
                                </p-tabPanel>
                                <p-tabPanel header="Предпросмотр" [cache]="false">
                                    <ng-template pTemplate="content">
                                        <app-survey-question-preview *ngIf="selectedQuestion != null"
                                                                     [question]="selectedQuestion"
                                        ></app-survey-question-preview>
                                    </ng-template>
                                </p-tabPanel>
                            </p-tabView>
                        </ng-template>
                        <ng-template pTemplate>
                            <app-survey-question-list [style]="{width: '100%', zIndex: '100'}"
                                                      [(questions)]="survey.questions!"
                                                      [(selectedQuestion)]="selectedQuestion">
                            </app-survey-question-list>
                        </ng-template>
                    </p-splitter>
                </ng-template>
            </p-stepperPanel>
        </p-stepper>
    </div>

    <ng-template pTemplate="footer">
        <p-button *ngIf="stepperIndex === 0"
                  label="Далее"
                  [disabled]="surveyFormInvalid()"
                  (click)="nextStep()"
        />
        <p-button #previousStepButton *ngIf="stepperIndex == 1"
                  label="Назад"
                  (click)="previousStep()"
        />
        <p-button *ngIf="stepperIndex == 1"
                  label="Сохранить"
                  severity="success"
                  [disabled]="surveyQuestionsInvalid()"
                  (click)="result.emit(survey)"
        />
        <p-button label="Отмена"
                  styleClass="button-clear bordered"
                  (click)="result.emit(null)"
        />
    </ng-template>
</p-dialog>
