<p-tabView>
  <p-tabPanel header="Таблица">
    <p-table #table [value]="tasks" [scrollable]="true" scrollHeight="flex" sortMode="multiple"
             [loading]="loading"
             [globalFilterFields]="columnFields"
             [resizableColumns]="true"
             [columns]="columns"
             [reorderableColumns]="true"
             [virtualScroll]="true"
             [virtualScrollItemSize]="55"
             [sortOrder]="-1"
             [sortField]="'difficulty'"
             styleClass="p-datatable-gridlines"
             dataKey="id">
      <!--TABLE TOOLBAR-->
      <ng-template pTemplate="caption">
        <div class="table-toolbar">
          <div class="table-toolbar-left">
            <!--            <p-button pTooltip="Обновить таблицу" icon="pi pi-sync" (click)="getUsersFromApi()"-->
            <!--                      styleClass="button-primary"></p-button>-->
            <p-button pTooltip="Показать / Скрыть фильтры" icon="pi pi-filter" (click)="filter=!filter"
                      styleClass="button-primary"></p-button>

            <div class="splitter"></div>

            <p-button pTooltip="Печать" icon="pi pi-print" (click)="menu.toggle($event)" severity="success"></p-button>
          </div>

          <div class="table-toolbar-right">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input #globalSearch pInputText type="text" placeholder="Быстрый поиск"
                   (input)="table.filterGlobal(globalSearch.value, 'contains')"/>
        </span>
          </div>
        </div>
      </ng-template>

      <!--TABLE COLUMNS-->
      <ng-template pTemplate="header">
        <tr>
          <ng-container *ngFor="let col of columns">
            <th [style]="{width: col.width+'%'}" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
              {{ col.header }}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
        </tr>
        <!--TABLE FILTER-->
        <tr *ngIf="filter">
          <th *ngFor="let col of columns">
            <app-column-filter-wrapper [column]="col"></app-column-filter-wrapper>
          </th>
        </tr>
      </ng-template>

      <!--TABLE DATA-->
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <ng-container *ngFor="let col of columns">
            @switch (col.type) {
              @case ("boolean") {
                <td style="text-align: center">
                  <p-checkbox [binary]="true" [readonly]="true" [style]="{pointerEvents: 'none'}"
                              [(ngModel)]="row[col.fieldGetter ?? col.field]">
                  </p-checkbox>
                </td>
              }
              @case ("date") {
                <td style="text-align: center">{{ getField(row, col) }}</td>
              }
              @default {
                <td [class.cell-center]="col.field == 'id'">{{ getField(row, col) }}</td>
              }
            }
          </ng-container>
        </tr>
      </ng-template>

      <!--TABLE SUMMARY-->
      <ng-template pTemplate="summary">
        <div class="table-toolbar">
          <div class="table-toolbar-left">
            Всего записей: {{ tasks.length }}
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="99">Ничего не найдено</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="График">
    <div style="display: flex; flex-flow: column; height: 100%; padding: 1rem;">
      <div id="printArea" style="height: 100%; display: flex; flex-flow: column;">
        <div style="display: flex; gap: 1rem; align-items: center;">
          <h1>Сравнение заданной и фактической сложности</h1>
          <div style="flex: 1"></div>
          <p-button label="Печать" icon="pi pi-print" (click)="print()" severity="success"></p-button>
        </div>
        <p-chart type="bar" [data]="basicData" style="flex: 1; min-height: 0;" [options]="basicOptions"></p-chart>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>

<p-menu #menu [model]="(ExportTable.exportMenu | async)!" [popup]="true"
        (onShow)="ExportTable.showMenu(table, columns, tasks)"
        appendTo="body">
</p-menu>
