.survey-list-container {
  display: flex;
  flex-flow: column;
  gap: 0.5em;
  padding: 0.5em;
  background-color: rgb(249, 250, 251);
  min-width: 700px;
}

.h-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.v-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.survey-label {
  text-align: start;
  word-break: break-word;
  color: var(--primary-color);
  cursor: pointer;
}

.survey-toolbar {
  padding: 0.5em 0.5em 0.5em 1em;
  border-bottom: 1px solid var(--border-color);
}

.survey-status {
  width: 20rem;
  height: 1rem;
}

:host ::ng-deep .p-dataview-list {
  background-color: rgb(249, 250, 251);
}

:host ::ng-deep .p-card {
  width: 100%;
  max-width: unset;
}

:host ::ng-deep .p-card-content {
  padding: 0.5rem;
}

:host ::ng-deep .p-dialog-mask {
  z-index: 1;
}
