.no-border-top {
  border-top-color: transparent;
}

.no-rounded-border-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.no-rounded-border-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.correct-answer {
  color: var(--green-color);
}

.incorrect-answe {
  color: var(--border-color)
}

.clickable-icon:hover {
  cursor: pointer;
}

:host .form-row {
  gap: 0.5em;
}

:host .form-row label {
  width: 20%;
}

:host ::ng-deep .p-chips-multiple-container {
  width: 100%;
}
