@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* BASIC */
* {
  --header-height: 70px;
  --min-app-width: 720px;
  --card-max-width: 480px;
  --card-input-and-button-height: 50px;
  --button-height: 42px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--text-dark);
  position: relative;
  min-width: var(--min-app-width);
}

body {
  padding-top: var(--header-height);
}

div, span, input {
  text-overflow: ellipsis;
}

div.p-tabview-nav-content {
  text-overflow: unset !important;
}

.p-overflow-hidden {
  padding-right: 0;
}

.full-width-height-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width-center {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.link {
  cursor: pointer;
  border-bottom: 1px solid var(--primary-color)
}

/* MARGIN / PADDING */

.margin-t-5 {
  margin-top: 5px;
}

.margin-t-10 {
  margin-top: 10px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-60 {
  margin-top: 60px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.v-splitter-5 {
  height: 5px;
}

.v-splitter-10 {
  height: 10px;
}

.v-splitter-20 {
  height: 20px;
}

/* COMMON */

.content-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.splitter {
  height: calc(var(--button-height) / 2);
  display: inline-block;
  width: 1px;
  background-color: #b5b5b5;
  margin: 0 0.35em;
}

/* BUTTONS */

.p-button.p-fileupload-choose {
  background: var(--primary-color);
}

.p-button.p-fileupload-choose:hover {
  background: var(--primary-alfa-color);
}

.p-button.p-fileupload-choose.button-clear {
  background: none;
  color: var(--primary-color);
  border: none;
  border-bottom: 1px solid transparent;
}

/* CARD & FORM */

hr {
  height: 1px;
  border: none;
  background-color: var(--border-color);
}

.p-card {
  text-align: center;
  box-shadow: none;
  border: 1px solid var(--border-color);
  width: 100%;
  max-width: var(--card-max-width);
}

.p-card .p-card-body {
  padding: 0.8rem 1.25em
}

.p-card .p-inputtext {
  width: 100%;
  height: var(--card-input-and-button-height);
  margin-top: 10px;
}

.p-card .p-password {
  width: 100%;
}

.p-password .p-icon-wrapper {
  margin-top: 0;
  transform: scale(1.6);
}

.form-row .p-password .p-icon-wrapper {
  margin-top: -0.5rem;
}

.p-card button {
  width: 100%;
  height: var(--card-input-and-button-height);
}

.form-row {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.form-row label {
  width: 140px;
  flex: none;
}

.form-row > :nth-child(2) {
  flex: 1;
}

label.required:after {
  content: ' *';
  color: red;
}

.p-dialog-footer {
  text-align: center;
}

/* TABVIEW */

.p-tabview {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-tabview .p-tabview-panels {
  flex: auto;
  overflow: auto;
  padding: 0;
}

.p-tabview .p-tabview-panels .p-tabview-panel {
  height: 100%;
}

.p-tabview-nav-container {
  flex: none;
}

/* TABLE */

.p-datatable .p-datatable-loading-overlay {
  background: white;
  opacity: 0.3;
}

.p-datatable-loading-icon {
  width: 2rem;
  height: 2rem;
}

.p-datatable-thead > tr > th {
  text-align: center;
}

.table-toolbar {
  width: 100%;
  justify-content: space-between;
}

.table-toolbar, .table-toolbar-left, .table-toolbar-right {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.table-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-body-wrapper {
  overflow: auto;
  flex: auto;
}

.cell-center {
  text-align: center;
}

.p-datatable-wrapper > p-scroller {
  height: 100%;
}

.p-datatable-wrapper > p-scroller > div {
  height: 100% !important;
}

.mini-table {
  flex: 1;
}

.mini-table .p-datatable-header, .mini-table .p-datatable-tbody > tr > td {
  padding: 5px !important;
}

.mini-table .p-datatable-wrapper {
  border: 1px solid var(--border-color);
  /*background: white;*/
}

.mini-table .p-datatable-tbody > tr > td {
  border-width: 0 0 1px 1px;
}

.table-expand-button {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 14px;
}

.mini-table-expand-button {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 4px;
  left: 4px;
}

.mini-table-expand-button > .pi.p-button-icon {
  font-size: smaller;
}

.mini-table-expand-button, .table-expand-button {
  box-shadow: none;
}

.mini-table-header {
  font-size: 14px;
}

/* CONFIRM */

.p-confirm-popup-footer {
  display: inline-flex;
  flex-direction: row-reverse;
  float: right;
  gap: 8px;
}

/* INPUT NUBMER */

.p-inputnumber-button-group button {
  width: unset !important;
  height: unset !important;
  min-width: 40px !important;
}

.p-inputnumber {
  width: 100%;
}

/* PASSWORD */
.password-tip {
  text-align: left;
  margin-top: 2px;
  font-size: small;
  color: var(--yellow-color);
}

.password-tip.red {
  color: var(--red-color) !important;
}

/* CODE EDITOR */
.monaco-editor .decorationsOverviewRuler {
  display: none !important;
}

.monaco-editor .minimap {
  border-left: 1px solid var(--border-color)
}

.monaco-editor .editor-container {
  height: 100%;
}

/* DATA VIEW */

.p-dataview-list {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-dataview-content {
  overflow: auto;
}

.p-dataview-emptymessage {
  text-align: center;
}

/* SurveyJS */

.sd-progress-buttons__list li:hover .sd-progress-buttons__button {
  background-color: var(--sjs-primary-backcolor, var(--primary)) !important;
}

/*.sd-progress-buttons__list > li:hover > :nth-child(2) {*/
/*  background-color: var(--sjs-primary-backcolor, var(--primary)) !important;*/
/*}*/

.sd-progress-buttons__list > li:hover > .sd-progress-buttons__button > div {
  display: none !important;
}

.sd-progress-buttons__list-element--current > .sd-progress-buttons__button > div {
  display: none !important;
}

li.sd-progress-buttons__list-element--current:hover .sd-progress-buttons__button {
  background-color: white !important;
}

.sd-progress-buttons__button:hover {
  background-color: var(--sjs-primary-backcolor, var(--primary)) !important;
}

.sd-progress-buttons__button:hover > div {
  display: none !important;
}

.surveyjs-correct-answer {
  color: var(--green-color);
  text-transform: uppercase;
}

.surveyjs-incorrect-answer {
  color: var(--red-color);
  text-transform: uppercase;
}

/* LIST BOX */
p-listbox {
  height: 100%;
}

p-listbox > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list-box-wrapper {
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list-box-header {
  text-align: center;
  padding: 5px
}

.list-box-body {
  overflow: auto;
  height: 100%
}

/* PRIME FLEX */
.grid {
  margin: 0 !important;
}

/* CLICKABLE CARD */
.clickable-card .p-card {
  cursor: pointer;
  height: 100%;
  max-width: 300px;
}

.clickable-card.full-width .p-card {
  max-width: 100% !important;
}

.clickable-card .header {
  display: inline-flex;
  align-items: center;
}

.clickable-card .p-card:hover {
  background: var(--primary-deep-alfa-color);
}

.clickable-card .p-card .p-card-content {
  padding: 5px;
  height: 100%;
}

.clickable-card .p-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.clickable-card-grid .p-dataview-grid, .clickable-card-grid .p-dataview-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* CALENDAR */
.inline-calendar .p-datepicker table td {
  padding: 0;
}

.inline-calendar .p-datepicker table td > span {
  width: 2rem;
  height: 2rem;
}

/* SPLITTER */
.p-splitter-panel-nested {
  outline: none !important;
}

.min400-min340 .p-splitter-horizontal > :nth-child(1) {
  min-width: 400px;
}
.min400-min340 .p-splitter-horizontal > :nth-child(3) {
  min-width: 340px;
}

.min340-min340 .p-splitter-horizontal > :nth-child(1),
.min340-min340 .p-splitter-horizontal > :nth-child(3) {
  min-width: 340px;
}

.min200 .p-splitter-horizontal > :nth-child(1) {
  min-width: 200px;
}

.min600-min340 .p-splitter-horizontal > :nth-child(1) {
  min-width: 600px;
}
.min600-min340 .p-splitter-horizontal > :nth-child(3) {
  min-width: 340px;
}

p-splitter.full-width {
  width: 100%;
}

/* PREVIEW */
#surveyJsQuestionPreview .sd-image__image {
  width: unset !important;
}

#surveyJsQuestionPreview .sd-image {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

/* IMG */
img {
  -webkit-user-drag: none;
  user-select: none;
}

