<div class="full-width-center">
  <div class="margin-t-60">
    <p-card>
      <h3 class="no-margin">Восстановление пароля</h3>
    </p-card>

    <p-card [style]="{marginTop: '20px'}" [class.content-disabled]="loading">
      <form #form="ngForm" [class.content-disabled]="loading">
        <input maxlength="40" name="email" type="email"
               pInputText [(ngModel)]="email"
               pattern="^(?=.{1,64}@)[A-Za-z0-9_-]+(\.[A-Za-z0-9_-]+)*@[^-][A-Za-z0-9-]+(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,})$"
               placeholder="Введите email" required>
        <app-password-form #passwordForm></app-password-form>

        <hr class="margin-t-20">

        <div class="password-reset-container">
          <input pInputText name="code" type="number"
                 placeholder="Проверочный код из email"
                 [disabled]="!email"
                 [(ngModel)]="verificationCode">
          <p-button *ngIf="!isCodeRequested"
                    label="Запросить код"
                    [disabled]="!email"
                    [style]="{marginTop: '10px'}"
                    (click)="requestCode()">
          </p-button>
          <p-button *ngIf="isCodeRequested"
                    pTooltip="Запросить код ещё раз"
                    icon="pi pi-replay"
                    severity="warning"
                    [style]="{marginTop: '10px', aspectRatio: 1}"
                    (click)="requestCode()">
          </p-button>
        </div>

        <div *ngIf="isCodeRequested">
          <p>Время до истечения срока действия кода: {{ countdown }}</p>
        </div>
      </form>

      <p-footer>
        <p-button styleClass="button-filled" [label]="loading ? 'ПОДОЖДИТЕ...' : 'СОХРАНИТЬ'"
                  (onClick)="savePassword(passwordForm.password)"
                  [disabled]="!!form.invalid || passwordForm.password != passwordForm.confirmationPassword">
        </p-button>
      </p-footer>
    </p-card>
  </div>
</div>
